{% extends 'core/base.html' %}
{% block style %}
{% endblock %}
{% block content %}

<div id="image-container" class="flex min-w-screen justify-center">
  <img src="/media/core/logo.png" alt="Imagen" class="w-[590px]" />
</div>
<div id="options"
  class="bg-white rounded-lg shadow-2xl py-6 px-8 mx-auto max-w-lg h-16 flex items-center justify-between mb-50 mt-20">
  <a href="{% url 'login' %}"
    class="bg-purple-400 hover:bg-purple-500 text-white font-bold py-2 px-4 rounded mr-20">Iniciar
    Sesión</a>
  <p class="mr-20">O</p>
  <a href="{% url 'signup' %}"
    class="bg-purple-400 hover:bg-purple-500 text-white font-bold py-2 px-4 rounded">Crear
    Cuenta</a>
</div>

{% endblock %}
{% block script %}
{% endblock %}
