# Archivos y directorios generados por Django
*.pyc
__pycache__
media/
# Archivos y directorios de registros y datos temporales
*.log
*.swp
*.swo
*.tmp
# Archivos y directorios de configuración de IDE
.vscode/
# Archivos de configuración local (por ejemplo, configuraciones de desarrollo)
local_settings.py
