altgraph==0.17.3
asgiref==3.6.0
Django==4.2
greenlet==2.0.2
mssql==1.0.1
mysqlclient==2.1.1
pefile==2023.2.7
Pillow==9.5.0
pyinstaller==5.10.1
pyinstaller-hooks-contrib==2023.2
pyodbc==4.0.39
pywin32-ctypes==0.2.0
setuptools==65.5.0
SQLAlchemy==2.0.12
sqlparse==0.4.4
typing_extensions==4.5.0
tzdata==2023.3
