{% extends 'core/base.html' %}

{% block content %}
  <div class="w-full my-6 p-6 px-20 mx-auto bg-gray-10 rounded-xl shadow-xl bg-white py-10">
    <h1 class="w-full text-center text-5xl mb-10 font-bold">Carrito</h1>
    <table class="w-full text-center bg-gradient-to-r from-blue-400 to-purple-400 border border-black">
      <thead class="font-bold">
        <tr class="bg-gradient-to-r from-blue-500 to-purple-500 text-white">
          <th class="py-4 w-1/6 border border-black border-opacity-25">Foto</th>
          <th class="py-4 border border-black border-opacity-25">Nombre</th>
          <th class="py-4 border border-black border-opacity-25">Cantidad</th>
          <th class="py-4 border border-black border-opacity-25">Precio</th>
        </tr>
      </thead>
      <tbody>
        {% for producto, cantidad in productos %}
          <tr id="{{ producto.pk }}_parent">
            <td class="bg-white flex justify-center items-center border border-black border-opacity-25">
              <img src="{{ producto.image.url }}" class="grow object-contain h-[100px]" />
            </td>
            <td class="border border-black border-opacity-25 text-left text-lg">{{ producto.nombre }}</td>
            <td class="border border-black border-opacity-25">
              <div class="flex flex-row h-full items-center justify-center">
                <div class="border border-black grow flex flex-col items-center justify-center bg-white">
                  <p class="text-center text-purple-500 text-xl font-bold" id="{{ producto.pk }}">{{ cantidad }}</p>
                </div>
                <div class="flex flex-col grow h-full font-bold">
                  <button class="flex-grow flex items-center justify-center text-white bg-black bg-opacity-0 hover:bg-opacity-[15%]" onclick="añadirAlCarrito({{ producto.pk }},'1')">+</button>
                  <button class="flex-grow flex items-center justify-center text-white bg-black bg-opacity-0 hover:bg-opacity-[15%]" onclick="añadirAlCarrito({{ producto.pk }},'-1')">-</button>
                </div>
              </div>
            </td>
            <td class="border border-black border-opacity-25 font-bold text-xl text-yellow-200" id="{{ producto.pk }}_precio">{{ producto.get_precio }} €</td>
          </tr>
        {% endfor %}
        <tr>
          <td colspan="3" class="border border-black border-opacity-25 text-xl font-bold">TOTAL</td>
          <td class="border border-black border-opacity-25 text-xl text-yellow-200 font-bold" id="total">0,00 €</td>
        </tr>
      </tbody>
    </table>
    <form action method="POST" class="flex flex-col items-center justify-center">
      {% csrf_token %}
      <input type="submit" value="Comprar" class="w-full mt-10 bg-purple-400 hover:bg-purple-500 text-white font-bold py-2 px-4 rounded border border-black" />
    </form>
    <script>
      let precios=[];
      let cantidades=[];
      let contadores=[];
      const listaCantidadPrecio= document.getElementById("cantidad");
      {% for producto, cantidad in productos %}
        precios.push(parseFloat("{{ producto.get_precio }}".replace(",",".")));
        cantidades.push({{cantidad}});
        contadores.push(new Contador('{{producto.pk}}',{{cantidad}},{{producto.cantidad}}));
        añadirAlCarrito({{producto.pk}},0);
      {% endfor %}
      
      cambiarPrecioFinal();

      function añadirAlCarrito(pk, cantidad){
        const contador = contadores.find((contador) => contador.id_elemento === ""+pk);
        cantidad=parseInt(cantidad);
        if(contador.valor + cantidad < 0){
          return;
        }
        
        if(contador.valor + cantidad > contador.maximo){
            if (contador.valor > contador.maximo){
              cantidad = contador.maximo - contador.valor;
            }
            else{
              return;
            }
        }

        try{
          const form = document.getElementById('add-to-cart-form');
          const cantidadTexto =  document.getElementById(pk);
          const precioTexto = document.getElementById(pk+"_precio");
          const precio=precios[contadores.indexOf(contador)];
          const xhr = new XMLHttpRequest();
          xhr.open('POST', `/buysSales/add_to_cart/`+pk+`/`, true);
          xhr.setRequestHeader('X-CSRFToken', '{{ csrf_token }}');
          xhr.setRequestHeader('Content-Type', 'application/x-www-form-urlencoded');
          xhr.onload = function () {
              if (xhr.status === 200) {
                  contador.modificarCantidad(cantidad);
                  cambiarPrecioFinal();
                  cantidadTexto.innerHTML = contador.valor;
                  precioTexto.innerHTML = (contador.valor * precio).toFixed(2) + " €";
                  if(contador.valor == 0){
                    document.getElementById(pk+"_parent").remove();
                  }
              } else {
                  mostrarNotificacion('Error al intentar hacer la operacion');
              }
          };
          xhr.send("cantidad="+cantidad);
        }catch(e){
          mostrarNotificacion('Error al intentar hacer la operacion');
          console.log(e);
        }

      }
      //Cambiar el precio final
      function cambiarPrecioFinal(){
        let total = 0;
        for(let i = 0; i < precios.length; i++){
          total += precios[i] * contadores[i].valor;
        }
        document.getElementById("total").innerHTML = total.toFixed(2) + " €";
      }
    </script>
  </div>
{% endblock %}
